.pawn_shops{
	padding: 20px 0 10px;
	.pawn_shop{
		margin-bottom: 10px;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0px 10px 10px rgba(0,0,0,.1);
	}
	img{
		width: 100%;
		height: auto;
	}
	.shop-info{
		text-align: center;
		.shop-code{
			font-size: 20px;
		}
		.shop-line{
			height: 28px;
			font-size: 20px;
		}
		.shop-phone a{
			font-size: 30px;
			text-decoration: none;
		}
	}
}
@media (max-width: 500px) {
	.pawn_shops{
		.col-xs-6{
			padding: 0 10px;
			h1{
				font-size: 30px;
			}
		}
		.col-12{
			width: 50%;
			padding: 5px;
		}
		.shop-info{
			.shop-code{
				font-size: 14px;
			}		
			.shop-address{
				padding: 0 5px;
				height: 40px;
			}
			.shop-line{
				height: 20px;
				font-size: 18px;
			}		
			.shop-phone a{
				font-size: 20px;
			}
		}
	} 
}
